html {
  font-size: 100%;
  font-family: "Indie Flower", cursive;
}

h1,
h2 {
  margin-left: 2%;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-image: url(./images/fullscreen2.png),
    linear-gradient(to left top, #d3c876, #ffffff, #6af8f1);
  background-blend-mode: multiply;
  min-height: 100vh;
}

.page-header h1 {
  font-size: 4em;
  margin: 0 0 0 0.5em;
  color: rgb(223, 152, 52);
}
.main-nav {
  display: flex;
  font-size: 1.25em;
  list-style: none;
}
.main-nav li {
  margin: 1.5em 2em 0 36px;
}
.main-nav a {
  color: rgb(223, 152, 52);
}
.main-nav a:hover {
  color: #d55c54;
}
.page-header {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  opacity: 70%;
}

.fadein-before {
  opacity: 0;
  transform: translate(100px);
  transition: opacity 1s, transform 1s;
}

.fadein-after {
  opacity: 1;
  transform: translate(0);
}

.divspace {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.plant {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  margin: 2em 0 0 3em;
}

.Lifting {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  margin: 3em 0 0 3em;
}
.removepicture {
  display: none;
}

.titlespace {
  margin: 1em 0 1.5em 0;
  font-size: 2.5em;
  height: 7vh;
}
.titlespace_other {
  margin: 2em 0 1.5em 0;
  height: 7vh;
  font-size: 2.5em;
}

.basic_l_and_a {
  margin: 7em 7.65em 5em 8em;
}
.basic_l_and_a_2 {
  margin: 5.5em 4em 1em 4em;
}
.basic_l_and_a_3 {
  margin: 8em 4em 1em 6em;
}

.basic_label {
  font-size: 2.5em;
  margin: 0 0 0.3em 0;
}
.basic_anser {
  font-family: YuMin_36pKn-Medium;
  font-size: 2em;
}

.FFF {
  margin: 5em 0 0 0;
  text-align: center;
  background: rgb(131, 113, 95);
}
.icon {
  margin: 20px 20px 15px 20px;
  text-align: center;
  width: 30px;
  height: 30px;
}
