html {
  font-size: 100%;
  font-family: "Indie Flower", cursive;
}

h1,
h2 {
  margin-left: 2%;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}
.wrapper {
  overflow-x: hidden;
}
.big-bg {
  background-size: contain;
  background-position: center;
  background-image: url(./images/mypicture.png),
    linear-gradient(to left top, #f3f4dc, #ffffff, #d8f0f1);
  background-blend-mode: multiply;
  min-height: 100vh;
}

.page-header {
  display: flex;
  justify-content: space-between;
  max-height: 5.5em;
  max-width: 1600px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  opacity: 80%;
}

.page-header h1 {
  font-size: 4em;
  margin: 0 0 0 0.5em;
  color: #fff;
  opacity: 100;
}

.around-accordion {
  color: #fff;
  width: 150px;
  padding: 0;
  margin: -5.5em 0 0 30px;
  float: right;
}

.main-nav {
  background: rgb(0, 0, 0);
  opacity: 80%;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  transition: 0.5s;
}

.main-nav li {
  padding: 10px 0 10px 10px;
}
.main-nav a {
  color: #fff;
  font-weight: 900;
  font-size: 1.3em;
}
.main-nav a:hover {
  color: #d55c54;
}

.accordionBtn {
  position: relative;
  border: none;
  background-color: inherit;
  color: #fff;
  text-align: right;
  padding: 1em 0 0 0.3em;
  font-size: 2em;
}

.around-accordion {
  overflow-y: auto;
}

.fadein-before {
  opacity: 0;
  transform: translate(200px);
  transition: opacity 1s, transform 1.5s;
}

.fadein-after {
  opacity: 1;
  transform: translate(0);
}

.divspace {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.plant {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  margin: 2em 0 0 3em;
}

.Lifting {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
  margin: 3em 0 0 3.5em;
}
.removepicture {
  display: none;
}

.titlespace {
  margin: 1em 0 2.5em 0;
  font-size: 2.5em;
  height: 7vh;
}
.titlespace_other {
  margin: 2em 0 2.5em 0;
  height: 7vh;
  font-size: 2.5em;
}

.basic_l_and_a {
  margin: 7em 7.65em 5em 8em;
}
.basic_l_and_a_2 {
  margin: 5.5em 4em 1em 4.5em;
}
.basic_l_and_a_3 {
  margin: 8em 4em 1em 6em;
}

.basic_label {
  font-size: 2.5em;
  margin: 0 0 0.3em 0;
}
.basic_anser {
  font-family: YuMin_36pKn-Medium;
  font-size: 2em;
}

.FFF {
  margin: 5em 0 0 0;
  text-align: center;
  background: rgb(131, 113, 95);
}
.icon {
  margin: 20px 20px 15px 20px;
  text-align: center;
  width: 30px;
  height: 30px;
}
